<div
  class="bg-img"
  [ngStyle]="{ 'background-image': 'url(' + this.post.image + ')' }"
>
  <div class="content-inside gradient">
    <div class="row space-between align-center">
      <div class="row grow align-center">
        <input
          id="title"
          type="text"
          class="grow"
          [(ngModel)]="this.post.title"
        />
        <div class="checkbox"><i class="pi pi-heart"></i></div>
      </div>

      <div class="row gap-1">
        <button
          *ngIf="!isEdit"
          type="button"
          pButton
          icon="pi pi-check"
          (click)="onCreate()"
        >
          Create new post
        </button>
        <button
          *ngIf="isEdit"
          type="button"
          pButton
          icon="pi pi-check"
          (click)="onEdit()"
        >
          Confirm
        </button>
        <button type="button" pButton icon="pi pi-times" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>

    <div class="row gap-1">
      <span class="price-label"> Category: </span>
      <app-select-category />
    </div>
  </div>
</div>
<div class="content-outside">
  <textarea id="content" size="2000" [(ngModel)]="this.post.content"></textarea>
</div>

<!-- URL TO IMG -->
<div class="row gap-05">
  <span class="price-label"> Image: </span>
  <input
    id="image"
    type="file"
    [(ngModel)]="post.image"
    (change)="onFileSelected($event)"
  />
</div>

<div class="row gap-05"></div>
